.animated-text {
    white-space: nowrap;
    overflow: hidden;
    animation: slideRight 10s linear infinite; /* Điều chỉnh tốc độ chạy bằng cách thay đổi thời gian (4s) */
}

.letter {
    display: inline-block;
    transform-origin: 0 0;
}

@keyframes slideRight {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}